{% extends 'base.html' %}

{% load static %}
{% load query_param_tags %}
{% load humanize %}
{% block content %}

<!-- ============================ Page Title Start================================== -->
<div class="page-title" style="background:#f4f4f4 url(../../static/assets/img/slider-1.jpg);" data-overlay="5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">

				<div class="breadcrumbs-wrap position-relative z-1">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">Agency Detail</li>
					</ol>
					<h2 class="breadcrumb-title">{{agency_detail.name}}</h2>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ About Agency ================================== -->
<section class="gray">
	<div class="container">
		<div class="row">

			<!-- property main detail -->
			<div class="col-lg-8 col-md-12 col-sm-12">

				<!-- Single Block Wrap -->
				<div class="property_block_wrap">

					<div class="property_block_wrap_header">
						<h4 class="property_block_title">Agency Info</h4>
					</div>

					<div class="block-body">
						<p>{{agency_detail.description}}</p>
						<ul class="social-icons">
							<li><a class="facebook" href="{{agency_detail.facebook}}"><i class="lni-facebook"></i></a>
							</li>
							<li><a class="twitter" href="{{agency_detail.twitter}}"><i class="lni-twitter"></i></a></li>
							<li><a class="linkedin" href="{{agency_detail.instagram}}"><i class="lni-instagram"></i></a>
							</li>
							<li><a class="linkedin" href="{{agency_detail.linkedin}}"><i class="lni-linkedin"></i></a>
							</li>
						</ul>
					</div>

				</div>

				<!-- Single Block Wrap -->
				<div class="_prtis_list mb-4">
					<div class="_prtis_list_header">
						<ul>
							<li>
								<div class="content_thumb"><i class="fa fa-envelope"></i></div>
								<div class="content">
									<span class="dark">{{agency_detail.email}}</span>
									<span class="title">Email</span>
								</div>
							</li>
							<li>
								<div class="content_thumb"><i class="fa fa-phone"></i></div>
								<div class="content">
									<span class="dark">{{agency_detail.phone_number}}</span>
									<span class="title">Call Me</span>
								</div>
							</li>
							<li>
								<div class="content_thumb"><i class="fa fa-map-marker-alt"></i></div>
								<div class="content">
									<span class="dark">{{agency_detail.address}}, {{agency_detail.city}}</span>
									<span class="title">Location</span>
								</div>
							</li>
						</ul>
					</div>
					<div class="_prtis_list_body">
						<ul class="deatil_features">
							<li><strong>{{agency_detail.name}}</strong>Name</li>
							<li><strong>{{agency_detail.email}}</strong>Email</li>
							<li><strong>{{agency_detail.phone_number}}</strong>Call</li>
							<li><strong>{{agency_detail.city}}</strong>City</li>
							<li><strong>{{agency_detail.state}}</strong>State</li>
							<li><strong>Kenya</strong>Country</li>
							<li><strong>+91 256 8547</strong>Fax</li>
							<li><strong>22 Listed</strong>Property</li>
						</ul>
					</div>
				</div>

				<!-- Single Block Wrap -->
				<div class="property_block_wraps">

					<div class="property_block_wrap_header">
						<ul class="nav nav-pills tabs_system" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-property-tab" data-bs-toggle="pill"
									href="#pills-property" role="tab" aria-controls="pills-property"
									aria-selected="true">Properties</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-agent-tab" data-bs-toggle="pill" href="#pills-agent"
									role="tab" aria-controls="pills-agent" aria-selected="false">Agent</a>
							</li>
						</ul>
					</div>

					<div class="block-bodys">
						<div class="sidetab-content">
							<div class="tab-content" id="pills-tabContent">
								<!-- Book Now Tab -->
								<div class="tab-pane fade show active" id="pills-property" role="tabpanel"
									aria-labelledby="pills-property-tab">
									<div class="row justify-content-center g-4">

										{% for property in agency_detail.listed_units.all %}
										<!-- Single Property -->
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="property-listing property-2 shadow-0">

												<div class="listing-img-wrapper">
													<div class="_exlio_125">For Sale</div>
													<div class="list-img-slide">
														<div class="click">
															<div><a href="single-property-1.html"><img
																		src="{% static 'assets/img/p-1.png' %}"
																		class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="single-property-1.html"><img
																		src="{% static 'assets/img/p-2.png' %}"
																		class="img-fluid mx-auto" alt="" /></a></div>
															<div><a href="single-property-1.html"><img
																		src="{% static 'assets/img/p-3.png' %}"
																		class="img-fluid mx-auto" alt="" /></a></div>
														</div>
													</div>
												</div>

												<div class="listing-detail-wrapper">
													<div class="listing-short-detail-wrap">
														<div class="_card_list_flex mb-2">
															<div class="_card_flex_01">
																<span class="_list_blickes _netork">6 Network</span>
																<span class="_list_blickes types">Family</span>
															</div>
															<div class="_card_flex_last">
																<div class="prt_saveed_12lk">
																	<label class="toggler toggler-danger"><input
																			type="checkbox"><i
																			class="ti-heart"></i></label>
																</div>
															</div>
														</div>
														<div class="_card_list_flex">
															<div class="_card_flex_01">
																<h4 class="listing-name verified"><a
																		href="single-property-1.html"
																		class="prt-link-detail">7012 Shine Sehu Street,
																		Liverpool London, LC345AC</a></h4>
															</div>
														</div>
													</div>
												</div>

												<div class="price-features-wrapper">
													<div class="list-fx-features">
														<div class="listing-card-info-icon">
															<div class="inc-fleat-icon"><img
																	src="{% static 'assets/img/bed.svg' %}" width="13"
																	alt="" /></div>3 Beds
														</div>
														<div class="listing-card-info-icon">
															<div class="inc-fleat-icon"><img
																	src="{% static 'assets/img/bathtub.svg' %}"
																	width="13" alt="" />
															</div>1 Bath
														</div>
														<div class="listing-card-info-icon">
															<div class="inc-fleat-icon"><img
																	src="{% static 'assets/img/move.svg' %}" width="13"
																	alt="" /></div>800 sqft
														</div>
													</div>
												</div>

												<div class="listing-detail-footer">
													<div class="footer-first">
														<h6 class="listing-card-info-price mb-0 p-0">$7,000</h6>
													</div>
													<div class="footer-flex">
														<a href="property-detail.html" class="prt-view">View Detail</a>
													</div>
												</div>

											</div>
										</div>
										<!-- End Single Property -->
										{% endfor %}
									</div>
								</div>

								<!-- Appointment Now Tab -->
								<div class="tab-pane fade" id="pills-agent" role="tabpanel"
									aria-labelledby="pills-agent-tab">
									<div class="row justify-content-center g-4">

										{% for agent in agency_detail.agents.all %}

										<!-- Single Agent -->
										<div class="col-lg-6 col-md-6 col-sm-12">
											<div class="grid_agents">
												<div class="elio_mx_list theme-bg-2">102 Listings</div>
												<div class="grid_agents-wrap">

													<div class="fr-grid-thumb">
														<a href="agent-page.html">
															<span class="verified"><img
																	src="{% static 'assets/img/verified.svg' %}"
																	class="verify mx-auto" alt=""></span>
															<img src="{% static 'assets/img/team-1.jpg' %}"
																class="img-fluid mx-auto" alt="">
														</a>
													</div>

													<div class="fr-grid-deatil">
														<span><i class="ti-location-pin me-1"></i>Montreal, USA</span>
														<h5 class="fr-can-name"><a href="agent-page.html">Adam K.
																Jollio</a></h5>
														<ul class="inline_social">
															<li><a href="#" class="fb"><i class="ti-facebook"></i></a>
															</li>
															<li><a href="#" class="ln"><i class="ti-linkedin"></i></a>
															</li>
															<li><a href="#" class="ins"><i class="ti-instagram"></i></a>
															</li>
															<li><a href="#" class="tw"><i class="ti-twitter"></i></a>
															</li>
														</ul>
													</div>

													<div class="fr-infos-deatil">
														<a href="#" class="btn btn-danger"><i
																class="fa fa-envelope me-2"></i>Message</a>
														<a href="#" class="btn btn-dark"><i class="fa fa-phone"></i></a>
													</div>

												</div>

											</div>
										</div>

										{% endfor %}
									</div>
								</div>
							</div>

						</div>

					</div>
				</div>

			</div>

			<!-- property Sidebar -->
			<div class="col-lg-4 col-md-12 col-sm-12">
				<div class="property-sidebar">

					<div class="agency_gridio_wrap">
						<div class="agency_gridio_header" style="background:#d2382d url(assets/img/bg2.png)no-repeat">
							<span class="agents_count">{{agency_detail.agents.count}} Agents</span>
						</div>
						<div class="agency_gridio_caption">
							<div class="agency_gridio_thumb">
								<a href="agency-page.html"><img src="{{agency_detail.logo.url}}" class="img-fluid"
										alt=""></a>
							</div>
							<div class="agency_gridio_txt">
								<h4><a href="agency-page.html">{{agency_detail.name}}</a></h4>
								<span class="agt_gridio_ocat">{{agency_detail.address}}, {{agency_detail.city}}</span>
								<a href="#" data-bs-toggle="modal" data-bs-target="#autho-message"
									class="vew_agency_btn">Send Message</a>
							</div>
						</div>
					</div>

					<!-- Featured Property -->
					<div class="sidebar-widgets">

						<h4>Recent Listings</h4>

						<div class="sidebar-property">
							{% for property in agency_detail.listed_units.all %}
							<!-- List Sibar Property -->
							<div class="sides_list_property">
								<div class="sides_list_property_thumb">
									<img src="{% static 'assets/img/p-1.png' %}" class="img-fluid" alt="" />
								</div>
								<div class="sides_list_property_detail">
									<h4><a href="single-property-1.html">Loss vengel New Apartment</a></h4>
									<span><i class="ti-location-pin"></i>Sans Fransico</span>
									<div class="lists_property_price">
										<div class="lists_property_types">
											<div class="property_types_vlix sale">For Sale</div>
										</div>
										<div class="lists_property_price_value">
											<h4>$4,240</h4>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>

					</div>

				</div>
			</div>

		</div>
	</div>
</section>
<!-- ============================ About Agency End ================================== -->
{% endblock %}