{% extends 'base.html' %}

{% load static %}
{% load query_param_tags %}
{% load humanize %}
{% block content %}

<!-- ============================ Page Title Start================================== -->
<div class="page-title" style="background:#f4f4f4 url(../../static/assets/img/slider-1.jpg);" data-overlay="5">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12">

				<div class="breadcrumbs-wrap position-relative z-1">
					<ol class="breadcrumb">
						<li class="breadcrumb-item active" aria-current="page">All Agencies</li>
					</ol>
					<h2 class="breadcrumb-title">Agencies - Meet All Agencies</h2>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- ============================ Page Title End ================================== -->


<!-- ============================ Agent List Start ================================== -->
<section class="gray">
	<div class="container">

		<div class="row g-4">

			{% if agency_list %}

			{% for agency in agency_list %}
			<!-- Single Agent -->
			<div class="col-lg-4 col-md-6 col-sm-12">
				<div class="agency_gridio_wrap">
					<div class="agency_gridio_header"
						style="background:#d2382d url(../../static/assets/img/bg2.png)no-repeat">
						<span class="agents_count">{{agency.agents.count}} Agents</span>
						
					</div>
					<div class="agency_gridio_caption">
						<div class="agency_gridio_thumb">
							<a href="agency-page.html"><img src="{{agency.logo.url}}" class="img-fluid" alt="" /></a>
						</div>
						<div class="agency_gridio_txt">
							<h4><a href="agency-page.html">{{agency.name}}</a></h4>
							<span class="agt_gridio_ocat">{{agency.fq_address}}</span>
							<a href="{% url 'agencies:agency-detail' agency.id %}" class="vew_agency_btn">View
								Agency</a>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
			{% else %}
			<div class="col justify-content-center btn-light-danger">

				<p class="text-center">No Agencies</p>
			</div>
			{% endif %}

		</div>

	</div>

</section>
<!-- ============================ Agent List End ================================== -->
{% endblock %}