{% load static %}
<!-- ============================ article Start ================================== -->
<section>
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Latest News & Articles</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center g-4">

            <!-- Single blog Grid -->
            <div class="col-lg-4 col-md-6">
                <div class="grid_blog_box">

                    <div class="gtid_blog_thumb">
                        <a href="blog-detail.html"><img src="{% static 'assets/img/b-1.jpg' %}" class="img-fluid"
                                alt="" /></a>
                        <div class="gtid_blog_info"><span>12</span>Sep 2021</div>
                    </div>

                    <div class="blog-body">
                        <h4 class="bl-title"><a href="blog-detail.html">Creative Designs</a><span
                                class="latest_new_post">New</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                    </div>

                    <div class="modern_property_footer">
                        <div class="property-author">
                            <div class="path-img"><a href="agent-page.html" tabindex="-1"><img
                                        src="{% static 'assets/img/user-1.jpg' %}" class="img-fluid" alt=""></a></div>
                            <h5><a href="agent-page.html" tabindex="-1">Shaurya Preet</a></h5>
                        </div>
                        <span class="article-pulish-date"><i class="ti-comment-alt me-2"></i>202</span>
                    </div>

                </div>
            </div>

            <!-- Single blog Grid -->
            <div class="col-lg-4 col-md-6">
                <div class="grid_blog_box">

                    <div class="gtid_blog_thumb">
                        <a href="blog-detail.html"><img src="{% static 'assets/img/b-5.jpg' %}" class="img-fluid"
                                alt="" /></a>
                        <div class="gtid_blog_info"><span>20</span>Oct 2021</div>
                    </div>

                    <div class="blog-body">
                        <h4 class="bl-title"><a href="blog-detail.html">UX/UI Developer</a><span
                                class="latest_new_post hot">Hot</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                    </div>

                    <div class="modern_property_footer">
                        <div class="property-author">
                            <div class="path-img"><a href="agent-page.html" tabindex="-1"><img
                                        src="{% static 'assets/img/user-2.jpg' %}" class="img-fluid" alt=""></a></div>
                            <h5><a href="agent-page.html" tabindex="-1">Nirgam Singh</a></h5>
                        </div>
                        <span class="article-pulish-date"><i class="ti-comment-alt me-2"></i>407</span>
                    </div>

                </div>
            </div>

            <!-- Single blog Grid -->
            <div class="col-lg-4 col-md-6">
                <div class="grid_blog_box">

                    <div class="gtid_blog_thumb">
                        <a href="blog-detail.html"><img src="{% static 'assets/img/b-6.jpg' %}" class="img-fluid"
                                alt="" /></a>
                        <div class="gtid_blog_info"><span>17</span>Dec 2021</div>
                    </div>

                    <div class="blog-body">
                        <h4 class="bl-title"><a href="blog-detail.html">WordPress Developer & UI</a><span
                                class="latest_new_post">New</span></h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod. </p>
                    </div>

                    <div class="modern_property_footer">
                        <div class="property-author">
                            <div class="path-img"><a href="agent-page.html" tabindex="-1"><img
                                        src="{% static 'assets/img/user-3.jpg' %}" class="img-fluid" alt=""></a></div>
                            <h5><a href="agent-page.html" tabindex="-1">Dhananjay Singh</a></h5>
                        </div>
                        <span class="article-pulish-date"><i class="ti-comment-alt me-2"></i>410</span>
                    </div>

                </div>
            </div>

        </div>

    </div>
</section>

<!-- ============================ article End ================================== -->