{% load static %}

<!-- ============================ Our Awards Start ================================== -->
<section class="p-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-12 col-lg-12 col-md-12">

                <div class="_awards_group">
                    <ul class="_awards_lists four">
                        <!-- single list -->
                        <li>
                            <div class="_awards_list_wrap">
                                <div class="_awards_list_thumb op-1"><img src="{% static 'assets/img/aw-1.png' %}"
                                        class="img-fluid" alt="" /></div>
                                <div class="_awards_list_caption">
                                    <h5>2021</h5>
                                    <span>Annual Awards</span>
                                </div>
                            </div>
                        </li>
                        <!-- single list -->
                        <li>
                            <div class="_awards_list_wrap">
                                <div class="_awards_list_thumb op-1"><img src="{% static 'assets/img/aw-2.png' %}"
                                        class="img-fluid" alt="" /></div>
                                <div class="_awards_list_caption">
                                    <h5>2018</h5>
                                    <span>Filka Vivo Award</span>
                                </div>
                            </div>
                        </li>
                        <!-- single list -->
                        <li>
                            <div class="_awards_list_wrap">
                                <div class="_awards_list_thumb op-1"><img src="{% static 'assets/img/aw-3.png' %}"
                                        class="img-fluid" alt="" /></div>
                                <div class="_awards_list_caption">
                                    <h5>2017</h5>
                                    <span>IITCA Zio Award</span>
                                </div>
                            </div>
                        </li>
                        <!-- single list -->
                        <li>
                            <div class="_awards_list_wrap">
                                <div class="_awards_list_thumb op-1"><img src="{% static 'assets/img/aw-4.png' %}"
                                        class="img-fluid" alt="" /></div>
                                <div class="_awards_list_caption">
                                    <h5>2014</h5>
                                    <span>Uco Universal</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- ============================ Our Awards End ================================== -->