{% load static %}

<!-- ============================ Property Category Start ================================== -->

<section class="min" id="section_categories">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Choose Your Category</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center mt-4">

            <!-- Single Category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="_category_box">
                    <a href="list-layout-with-sidebar.html">
                        <div class="_category_elio">
                            <div class="_category_thumb">
                                <i class="fa-solid fa-house text-info"></i>
                            </div>
                            <div class="_category_caption">
                                <h5>Office &amp; Studio</h5>
                                <span>22 Properties</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="_category_box">
                    <a href="list-layout-with-sidebar.html">
                        <div class="_category_elio">
                            <div class="_category_thumb">
                                <i class="fa-solid fa-house-circle-check text-warning"></i>
                            </div>
                            <div class="_category_caption">
                                <h5>Industrial</h5>
                                <span>22 Properties</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="_category_box">
                    <a href="list-layout-with-sidebar.html">
                        <div class="_category_elio">
                            <div class="_category_thumb">
                                <i class="fa-solid fa-building text-success"></i>
                            </div>
                            <div class="_category_caption">
                                <h5>Buildings</h5>
                                <span>85 Properties</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="_category_box">
                    <a href="list-layout-with-sidebar.html">
                        <div class="_category_elio">
                            <div class="_category_thumb">
                                <i class="fa-solid fa-house-crack text-purple"></i>
                            </div>
                            <div class="_category_caption">
                                <h5>Commercial</h5>
                                <span>79 Properties</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="_category_box">
                    <a href="list-layout-with-sidebar.html">
                        <div class="_category_elio">
                            <div class="_category_thumb">
                                <i class="fa-solid fa-house-fire text-seegreen"></i>
                            </div>
                            <div class="_category_caption">
                                <h5>Home &amp; Villas</h5>
                                <span>22 Properties</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="_category_box">
                    <a href="list-layout-with-sidebar.html">
                        <div class="_category_elio">
                            <div class="_category_thumb">
                                <i class="fa-solid fa-igloo text-danger"></i>
                            </div>
                            <div class="_category_caption">
                                <h5>Garages</h5>
                                <span>22 Properties</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="_category_box">
                    <a href="list-layout-with-sidebar.html">
                        <div class="_category_elio">
                            <div class="_category_thumb">
                                <i class="fa-solid fa-house-laptop text-primary"></i>
                            </div>
                            <div class="_category_caption">
                                <h5>Office &amp; Studio</h5>
                                <span>72 Properties</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <!-- Single Category -->
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="_category_box">
                    <a href="list-layout-with-sidebar.html">
                        <div class="_category_elio">
                            <div class="_category_thumb">
                                <i class="fa-solid fa-building-circle-check text-orange"></i>
                            </div>
                            <div class="_category_caption">
                                <h5>Apartment</h5>
                                <span>102 Properties</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>

    </div>
</section>

<!-- ============================ Property Category End ================================== -->