<!-- ============================ Hero Banner  Start================================== -->
{% load static %}
<!-- ============================ Hero Banner  Start================================== -->
<div class="image-cover hero_banner hero-bg-image" data-overlay="5">
    <div class="container">
        <div class="simple-search-wrap">
            <div class="hero_search-2">
                <h1 class="m-0">Find Your Dream</h1>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore.</p>
                <div class="simple_tab_search">
                    <ul class="nav nav-tabs mb-3" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="buy-tab" data-bs-toggle="tab" href="#buy" role="tab"
                                aria-controls="buy" aria-selected="true">Buy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="sell-tab" data-bs-toggle="tab" href="#sell" role="tab"
                                aria-controls="sell" aria-selected="false">Sell</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="rent-tab" data-bs-toggle="tab" href="#rent" role="tab"
                                aria-controls="rent" aria-selected="false">Rent</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <!-- Buy Tab -->
                        <div class="tab-pane fade show active" id="buy" role="tabpanel" aria-labelledby="buy-tab">
                            <div class="pk-input-group">
                                <input type="text" name="email" class="email form-control"
                                    placeholder="Neighborhood, Street, City">
                                <button class="pk-subscribe-submit bg-danger" type="submit">Search</button>
                            </div>
                        </div>

                        <!-- Sell Tab -->
                        <div class="tab-pane fade" id="sell" role="tabpanel" aria-labelledby="sell-tab">
                            <div class="pk-input-group">
                                <input type="text" name="email" class="email form-control"
                                    placeholder="Neighborhood, Street, City">
                                <button class="pk-subscribe-submit" type="submit">Search</button>
                            </div>
                        </div>

                        <!-- Rent Tab -->
                        <div class="tab-pane fade" id="rent" role="tabpanel" aria-labelledby="rent-tab">
                            <div class="pk-input-group">
                                <input type="text" name="email" class="email form-control"
                                    placeholder="Neighborhood, Street, City">
                                <button class="pk-subscribe-submit" type="submit">Search</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ============================ Hero Banner End ================================== -->