{% load static %}
<!-- ============================ Latest Property For Sale Start ================================== -->
<section>
    <div class="container" id="section_properties">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center mb-4">
                    <h2>Recent Listed Property</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>

        {% include 'components/properties/property.html' with properties=properties child_path="components/properties/grid-1.html" empty_message="No properties" %}
        <!-- {#% include 'components/properties/property.html' with properties=properties child_path="components/properties/grid-2.html" empty_message="No properties"%#} -->

        <!-- Pagination -->
        <div class="row mt-5">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <a href="{% url 'properties:property-list' %}" class="btn btn-light-danger">Explore More Properties</a>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Latest Property For Sale End ================================== -->