{% load static %}
<!-- ============================ Latest Property For Sale Start ================================== -->
<section>
    <div class="container" id="section_properties">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-10 text-center">
                <div class="sec-heading center mb-4">
                    <h2>Recent Listed Property</h2>
                    <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
                        voluptatum deleniti atque corrupti quos dolores</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center g-4">
            {% if properties %}
            {% for property in properties %}

            <!-- Single Property -->
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="property-listing property-2 h-100">

                    <div class="listing-img-wrapper">
                        <div class="_exlio_125">{{property.status.name}}</div>
                        <div class="list-img-slide">
                            <div class="click">
                                {% for image in property.images.all %}
                                <div><a href="{% url 'properties:property-detail' property.id %}"><img
                                            src="{{image.image.url}}" class="img-fluid mx-auto" alt="" /></a>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                    <div class="listing-detail-wrapper">
                        <div class="listing-short-detail-wrap">
                            <div class="_card_list_flex mb-2">
                                <div class="_card_flex_01">
                                    <span class="_list_blickes _netork">{{property.units.count}} Units</span>
                                    <span class="_list_blickes types">{{property.type.name}}</span>
                                </div>
                                <div class="_card_flex_last">
                                    <div class="prt_saveed_12lk">
                                        <label class="toggler toggler-danger"><input type="checkbox"><i
                                                class="ti-heart"></i></label>
                                    </div>
                                </div>
                            </div>
                            <div class="_card_list_flex">
                                <div class="_card_flex_01">
                                    <h4 class="listing-name verified"><a
                                            href="{% url 'properties:property-detail' property.id %}"
                                            class="prt-link-detail">{{property.full_name}}</a></h4>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="price-features-wrapper">
                        <div class="list-fx-features">
                            <div class="listing-card-info-icon">
                                <div class="inc-fleat-icon"><img src="{% static 'assets/img/bed.svg' %}" width="15"
                                        alt="" />
                                </div>3 Beds
                            </div>
                            <div class="listing-card-info-icon">
                                <div class="inc-fleat-icon"><img src="{% static 'assets/img/bathtub.svg' %}" width="15"
                                        alt="" />
                                </div>1 Bath
                            </div>
                            <div class="listing-card-info-icon">
                                <div class="inc-fleat-icon"><img src="{% static 'assets/img/move.svg' %}" width="15"
                                        alt="" />
                                </div>{{property.size}}
                            </div>
                        </div>
                    </div>

                    <div class="listing-detail-footer">
                        <div class="footer-first">
                            <h6 class="listing-card-info-price mb-0 p-0">Ksh. {{property.price}}</h6>
                        </div>
                        <div class="footer-flex">
                            <a href="property-detail.html" class="prt-view">View Detail</a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Single Property -->
            {% endfor %}
            {% else %}
            <div class="col justify-content-center btn-light-danger">

                <p class="text-center">No properties</p>
            </div>
            {% endif %}

        </div>

        <!-- Pagination -->
        <div class="row mt-5">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
                <a href="{% url 'properties:property-list' %}" class="btn btn-light-danger">Explore More Properties</a>
            </div>
        </div>

    </div>
</section>
<!-- ============================ Latest Property For Sale End ================================== -->