{% load static %}
<!-- ============================ How It Works Start ================================== -->
<section class="gray-simple">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>How It Works?</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center g-4">

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="wpk_process">
                    <div class="wpk_thumb">
                        <div class="wpk_thumb_figure">
                            <img src="{% static 'assets/img/account-cl.svg' %}" class="img-fluid" alt="" />
                        </div>
                    </div>
                    <div class="wpk_caption">
                        <h4>Create An Account</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            Ipsum available.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="wpk_process active">
                    <div class="wpk_thumb">
                        <div class="wpk_thumb_figure">
                            <img src="{% static 'assets/img/search.svg' %}" class="img-fluid" alt="" />
                        </div>
                    </div>
                    <div class="wpk_caption">
                        <h4>Find & Search Property</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            Ipsum available.</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="wpk_process">
                    <div class="wpk_thumb">
                        <div class="wpk_thumb_figure">
                            <img src="{% static 'assets/img/booking-cl.svg' %}" class="img-fluid" alt="" />
                        </div>
                    </div>
                    <div class="wpk_caption">
                        <h4>Book Your Property</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have
                            Ipsum available.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<div class="clearfix"></div>
<!-- ============================ How It Works End ================================== -->