{% load static %}
{% load i18n %}
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->
<!-- Start Navigation -->
<div class="header header-light">
    <div class="container">
        <nav id="navigation" class="navigation navigation-landscape">
            <div class="nav-header">
                <a class="nav-brand" href="/">
                    <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="" />
                </a>
                <div class="nav-toggle"></div>
                <div class="mobile_nav">
                    <ul>
                        <li class="_my_prt_list"><a href="#"><span>2</span>My List</a></li>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#login"><i
                                    class="fas fa-user-circle fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="nav-menus-wrapper" style="transition-property: none;">
                <ul class="nav-menu">
                    <li class="active"><a href="/">Home<span class="submenu-indicator"></span>

                    <li><a href="{% url 'properties:property-list' %}">Listings<span
                                class="submenu-indicator"></span></a>
                    </li>

                    <li><a href="#">Blog<span class="submenu-indicator"></span></a>
                    </li>
                    <li><a href="#">Pricing<span class="submenu-indicator"></span></a>
                    </li>
                    <li><a href="#">Contact<span class="submenu-indicator"></span></a>
                    </li>

                    <li><a href="#">About Us<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">
                            <li><a href="blog.html">Team</a></li>
                            <li><a href="about-us.html">Terms of use</a></li>
                            <li><a href="privacy.html">Privacy Policy</a></li>
                            <li><a href="faq.html">FAQs</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Auth<span class="submenu-indicator"></span></a>
                        <ul class="nav-dropdown nav-submenu">

                            {% if user.is_authenticated %}
                            <li><a href="{% url 'account_email' %}">{% trans "Change Email" %}</a></li>
                            <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
                            {% else %}
                            <li><a href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
                            <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
                            {% endif %}`
                        </ul>
                    </li>

                </ul>

                <ul class="nav-menu nav-menu-social align-to-right">

                    <li>
                        <a href="#" class="alio_green" data-bs-toggle="modal" data-bs-target="#login">
                            <i class="fas fa-sign-in-alt me-1"></i><span class="dn-lg">Sign In</span>
                        </a>
                    </li>
                    <li class="add-listing">
                        <a href="submit-property.html" class="bg-danger">
                            <i class="fas fa-plus-circle me-1"></i>Add Property
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- End Navigation -->
<div class="clearfix"></div>
<!-- ============================================================== -->
<!-- Top header  -->
<!-- ============================================================== -->